{% extends "base.html" %}
{% block toast %}
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Sucesso</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ message }}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="text-center mt-5">
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Voltar ao Início</a>
    </div>
{% endblock %}